@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Space Mono", monospace;
}

body {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
}

canvas {
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  padding: 24px;

  width: 100%;
  height: 100%;

  pointer-events: none;

  overflow: hidden;
}

.title {
  color: #eee;

  font-size: 36px;

  width: 50%;

  animation: textAnimation 10s infinite alternate;
}

.subtitle {
  color: #ccc;

  font-size: 16px;
  font-weight: 500;

  width: 50%;

  line-height: 1.25;

  animation: textAnimation 10s infinite alternate;
}

@keyframes textAnimation {
  0% {
    text-shadow: #1b3984 0 0 10px;
  }

  100% {
    text-shadow: #ff6030 0 0 15px;
  }
}
